
      <mat-list>


    
        <mat-list-item class="app-list" *ngFor="let todo of todos" [ngClass]="{'completed': todo.isComplete}">
          <p mat-line>{{todo.isComplete}}</p>
        
        	<mat-checkbox [checked]="todo.isComplete" (change)="onComplete(todo)" mat-list-icon></mat-checkbox>


          <h3 mat-line>{{todo.title}}</h3>
          <span mat-line>{{todo.date | amDateFormat:'LL'}}</span>
          <span class="fill-remaining-space"></span>

         
      
            <button mat-icon-button [routerLink]="['/tododetail', todo._id]" (click)="select(todo)">
                  <mat-icon>info_outline</mat-icon>
            </button>
           
       
           
          
          <p mat-line>{{todo.notes}}</p>

          <p mat-line>{{todo._id}}</p>
        
        </mat-list-item>
      </mat-list>
    

<span class="app-action">
	<a routerLink="/todoadd">
		<button mat-fab><mat-icon>add circle outline</mat-icon></button>
	</a>
</span>

 