

  <h3>{{pagetitle}}</h3>
  <form novalidate [formGroup]="todoForm" (ngSubmit)="onSubmit()" >

  	<mat-input-container class="full-width">
              <input matInput formControlName="title" placeholder="Title" type="text" required>
        
    </mat-input-container>

    <mat-form-field class="full-width">
      <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput formControlName="notes" placeholder="Tap a notes"></textarea>
    </mat-form-field>

    <span class="app-action">
	  
		<button type="submit" mat-fab><mat-icon>check circle</mat-icon></button>
	  
    </span>

  </form>


<p>{{ todoForm.value | json }}</p>
<p>{{ todoForm.status | json }}</p>

