<form novalidate [formGroup]="todoForm">

  <mat-form-field class="full-width">
    <input matInput formControlName="title" placeholder="Title" type="text" required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput formControlName="notes" placeholder="Tap a notes"></textarea>
  </mat-form-field>

  <span class="app-action">
    <button mat-raised-button (click)="onSave(todo)" [disabled]="todoForm.pristine" color="accent">Save</button>
  </span>

  <span class="app-delete">
    <button mat-raised-button (click)="onDelete(todo)" color="warn">Delete</button>
  </span>

</form>
