<div>
  <form novalidate [formGroup]="taskForm" (ngSubmit)="onSubmit()" >

  	<mat-input-container class="full-width" 
            dividerColor="{{(formErrors.title) ? 'warn' : 'primary'}}">
              <input matInput formControlName="title" placeholder="Title" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.title)">
                  {{formErrors.title}}</span>
              </mat-hint>
    </mat-input-container>

    <mat-form-field class="full-width">
      <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="time" placeholder="00:00">
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput formControlName="notes" placeholder="Tap a notes"></textarea>
    </mat-form-field>

    <span class="app-action">
	  
		<button type="submit" mat-fab><mat-icon>check circle</mat-icon></button>
	  
    </span>

  </form>
</div>

<p>{{ taskForm.value | json }} {{ taskForm.status | json }}</p>


