/* You can add global styles to this file, and also import other style files */

/* Import a pre-built */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* Import your custom input theme file so you can call the custom-input-theme function*/
/*@import 'app/my-theme/my-theme.scss';*/

/* Using the $theme variable from the pre-built theme you can call the theming function*/
/*@include my-theme($theme);*/

/* some basic resets */

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif;  
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.app-delete {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  margin: 1em auto;
}
mat-form-field.mat-form-field {
  font-size: 16px;
}
.full-width {
  width: 100%;
}


